:root {
  /* Color */
  --WHITE: #ffffff;
  --BLACK: #000;
  --BODYBACK: #F8F8FB;
  --PRIMARY: #081E1D;
  --GRAY: #495057;
  --PLACEHOLDER: #CED4DA;
  --RED: #F46A6A;
  --BTNDISABLE: #EFF2F7;
  --LIGHTGRAY: #74788D;
  --BTNDISABLETEXT: #343A40;
  --AUTHBACK: #C2C7C7;
  --REDBACK:#FDE1E1;
  --REDBORDER: #FCD2D2;
  --LIGHTRED: #924040;
  --GREEN: #34C38F;
  --GREENBACK: #D6F3E9;
  --GREENBORDER: #C2EDDD;
  --LIGHTGREEN: #1F7556;

  --INFOBACK: #DCEDFC;
  --INFOBORDER: #CBE4FB;
  --LIGHTINFO: #306391;

  --SIDEBARBACK: #2A3042;
  --TIMERBLUE: #50A5F1;
  --ICONBACKGROUND: #FEF0F0;
  --MENUACTIVEBACK: #232838;
  --MENUACTIVEBORDER: #9497A0;
  --COUNTTEXT: #B4B4B4;
  --SEARCHBACK: #F3F3F9;
  --BORDER_BOTTOM: #E9EBEC;
  --TABLE_BACK: #F8F9FA;
  --ACTIVE_BACK: #DCEDFC;
  --INACTIVE_BACK: #D6D8D9;
  --COUNTER_BACK: #D7D9DF;
  --WARNING: #856404;
  --YELLOW: #FDCC0D;
  --SHORTNAMEBACK: #6B6B6B;
  --SWLECTBG: #ECF0F6;

  /*FONTS*/
  --FONT9: 9px;
  --FONT10: 10px;
  --FONT11: 11px;
  --FONT12: 12px;
  --FONT13: 13px;
  --FONT14: 14px;
  --FONT15: 15px;
  --FONT16: 16px;
  --FONT18: 18px;
  --FONT20: 20px;
  --FONT22: 22px;
  --FONT24: 24px;
  --FONT32: 32px;
  --FONT34: 34px;
  --FONT36: 36px;
  --FONT38: 38px;
  --FONT40: 40px;
  --FONT42: 42px;

  /*Font Weight*/
  --FONT_WEIGHT_400: 400;
  --FONT_WEIGHT_500: 500;
  --FONT_WEIGHT_600: 600;
  --FONT_WEIGHT_700: 700;
}